body{
    background-color: black;
    
    min-height: 900px;
    top: -1677px;
    left: -720px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    color: white;

}
.navbar > h2{
    font-family: MuseoModerno;
    font-size: 4.19vw;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.navbar{
    display: flex;
    color: white;
    width: 100%;
    height: 80px;
    padding: 16px 0px 16px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    align-items: center;
    justify-content: space-between;
    opacity: 0px;
    /* border-bottom: 1px solid white; */

}
.bar{
    display: flex;
    width: 466px;
    height: 3vw;
    gap: 32px;
    opacity: 0px;
    align-items: center;
    justify-content: space-between;
   font-size: 1.90208vw;
   margin-left: auto;
   box-sizing: content-box;
}
.border{
    border-bottom: 1px solid white;
}
.content{
    width: 100%;

    padding: 72px 0px 72px 0px;
    gap: 48px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    

}
.content > img{
    width: 100%;
}
.content > h1{
    height: 25.92vw;
    gap: 0px;
    opacity: 0px;
    text-align: center;
    font-family: Chivo;
    font-size: 8vw;
    font-weight: 900;
    line-height: 6.25vw;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.projects{
    width: 100%;
    height: 720px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    opacity: 0px;


}
.project-head{
    width: 100%;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Chivo;
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.photo-container{
    display: flex;
    width: 100%;
    height: 624px;
    gap: 24px;
    opacity: 0px;
    /* background-color: #FFFFFF; */
    justify-content: space-between;
    overflow-y:scroll ;
    scrollbar-color: white;
    scroll-behavior: smooth;
}

.card{
    
    /* serviceItem[fixed] */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 416px;
    height: 560px;
    gap: 10px;

}
.card > img{
    border-top: 1px solid #FFFFFF;
    width: 416px;
    height: 420px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}
.card > button{
    /* buttonFilledStandard */

/* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    width: 117px;
    height: 36px;

    background: #928DD3;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: none;


}

.cardtext{
    width: 200px;
    height: Hug (56px)px;
    padding: 0px 12px 0px 12px;
    gap: 12px;
    opacity: 0px;
    text-align: center;    
}
.description-box{
    width: 100%;
    height: 508px;
    padding: 72px 0px 72px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    
}
.description{
    width: 60%;
    /* min-width: 500px; */
    height: auto;
    gap: 0px;
    opacity: 0px;

}

.description > p{
    font-family: Chivo;
    font-size: 3.1875vw;
    
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 400px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    line-height: 0;
    padding: 20px;
    margin-bottom: 100px;
}

.inputs > input{
    
    width: 56px;
    height: 64px;
    text-align: center;
    border-radius: 8px;
    background-color: black;
    border: 1px solid white;
    color: #FFFFFF;
    margin: 8px;
    margin-top: 48px;
}
.contact > button{
    background-color: #928DD3;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: none;
}
.contact > p:nth-child(5){
    color: #928DD3;
}
footer{
    display: flex;
    color: #FFFFFF99;
    flex-direction: row;
    justify-content: space-between;
    

}
footer > button{
    background-color: black;
    color: #FFFFFF;
    border: 1px solid #FFFFFF29;
    border-radius: 8px;
    width: 156px;
    height: 48px;

}
